header{
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 400px;
}
.search_group{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    min-width: 400px;
    margin: 4px 0px;
}
.set_group{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    min-width: 400px;
    margin: 4px 0px;
}
.main{
    width: 99%;
    min-width: 400px;
    margin: 12px;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
img{
    max-width: 400px;
    max-height: 200px;
}